<h1><%=@list.name %></h1>

<p>
  <%= link_to "+Add new movie", new_list_bookmark_path(@list) %>
   <%= link_to 'detete list', list_path(@list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } %>
</p>
<p><%=link_to "Home", root_path %></p>

<% @list.movies.each do |movie|  %>
<p><%= movie.title%></p>
<p><%= movie.rating%></p>
<p><%= movie.overview%></p>
<img src=<%movie.poster_url%> alt="poster">
<% end %>

